<div id="container">
		<h1 class="huge">juliastrand.com</h1>
		<section class="triptych" id="hokeystokes">
			<%= link_to	content_tag(:span, "book carving"), "http://hokeystokes.blogspot.com", alt: "Book Art" %>
		</section>

		<section class="triptych" id="carleton">
			<%= link_to content_tag(:span, "academic website"), "https://apps.carleton.edu/curricular/psyc/jstrand/", alt: "Carleton College Academic Website" %>
		</section>

		<section class="triptych" id="phibase">
			<%= link_to	content_tag(:span, "phibase tool"), phibase_path, alt: "Phibase Tool" %>
		</section>
</div>
