<div id="container">
		<section class="triptych" id="carleton">
			<h1>academic page</h1>
		</section>
		<%=link_to phibase_path%><section class="triptych" id="phibase">
			<h1>phibase tool</h1>
		</section>
		<section class="triptych" id="hokeystokes">
			<h1>book carving</h1>
		</section>
</div>
