<section id="intro_to_phibase">
	<%= render 'intro' %>
</section>

<section id="word_selection">
	<%= render 'layouts/multiple_word_selection' %>
</section>

<% if @words.any? %>
<section id="phibase_multiple_results">
	<%= render 'layouts/results_table' %>
</section>
<% end %>