<section id="intro_to_phi-lex">
	<%= render 'intro' %>
</section>

<section id="word_selection">
	<%= render 'layouts/multiple_word_selection' %>
</section>

<% if @words.any? %>
<section id="phi-lex_multiple_results">
	<%= render 'layouts/results_table' %>
</section>
<% end %>