<h1 style="margin-top:100px;margin-bottom:60px;font-size:10em;text-align:center;"><%= @results.orth %></h1>
<h2 style="margin-bottom:50px;font-size:4em;text-align:center;">(<%= @results.pron %>)</h2>

<% Word.attribute_options.each do |attribute| %>
	<%= render 'layouts/attribute_pair', :attribute => attribute %>
<% end %>
