<section id="big_single_word">
	<h1><%= @results.orth %></h1>
	<h2>(<%= @results.pron %>)</h2>
</section>

<% Word.attribute_options.each do |attribute| %>
	<%= render 'layouts/attribute_pair', :attribute => attribute %>
<% end %>