// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* COLOR CONSTANTS */
$niceblue: #1967B0;
$nicegreen: #169943;

body{
	background: url('fabric_plaid.png');
	background-repeat: repeat;
	min-width: 950px;
}

h1.huge {
	font-size: 7em;
	color: #666;
}

#container {
	width: 90%;
	margin: 150px auto 0;
}

section.triptych {
	float:left;
	margin: 25px;
	text-align: right;
	width: 25%;
	height: 200px;
	box-shadow: 5px 5px 5px #333;
	position: relative;
    overflow:hidden;
	span {
		width:97%;
		height:100%;
		z-index:2;
		position: absolute;
		right: 0;
		top: 0;
		padding-right: 3%;
	}
	a {
		color: #eee;
		text-shadow: 0 0 5px #000;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 370px;
	}
	a:hover{
		color: #fff;
		text-decoration: none;
	}
}

section.triptych:hover{
	box-shadow: 3px 3px 3px #333;
    -webkit-transform: translate(2px,2px);
    -moz-transform: translate(2px,2px);
    -o-transform: translate(2px,2px);
    transform: translate(2px,2px);
}

section#hokeystokes {
	background: url("hokeystokes.jpg");
	background-size: cover;
}
section#carleton {
	background: url("julia.jpg");
	background-size: cover;
	background-position: center;
}
section#phi-lex {
	background: url("formula.jpeg");
	background-size: cover;
}
