// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* COLOR CONSTANTS */
$niceblue: #1967B0;
$nicegreen: #169943;

/* COLOR VARIABLES */
$accent_a: $nicegreen;
$accent_b: $niceblue;

#intro_to_phi-lex {
	padding: 50px;
	font-size: 1.2em;
	line-height: 1.4em;
	width: 400px;
	float: left;
	header {
		text-align: center;
		h1 {
			line-height: 1em;
		}
		h3 {
			line-height: 1em;
			font-weight: 300;
			margin: 0.5em 0 1em;
		}
	}
}

section.word_not_found {
	text-align: center;
	em {
		color: $niceblue;
	}
}

#big_single_word {
	text-align:center;
	padding: 50px 0 50px;
	h1 {
		margin-bottom:60px;
		font-size:10em;
	}
	h2 {
		font-size:4em;
	}
}
#single_word_attribute_field {
	width: 80%;
	padding-left: 8em;
	margin: 0 auto;
}
section.attribute_pair {
	font-size: 1.5em;
	width: 8em;
	float: left;
	margin: 1em;
	font-weight:600;
	label{
		font-weight: 300;
		font-size: .8em;
	}
}
section#word_selection {
	float:left;
	width: 400px;
	margin: 50px 25px 0 50px;
	border-right: 3px solid #333;
	padding-right: 25px;

	textarea {
		width:90%;
		height: 50px;
		font-size:1.5em;
	}
	label {
		display:inline;
	}
	fieldset {
		outline: 0;
	}
	ul {
		list-style:none;
	}
} 
fieldset#word_properties label {
	display: inline-block;
	margin-right: 75px;
}

section#phi-lex_multiple_results {
	margin: 50px 0 0 25px;
	position: absolute;
	left: 1000px;
	padding-right: 50px;
}
#including_homophones_boxes {
	h1, h2 {
		color: $accent_a;
	}
}
#excluding_homophones_boxes {
	h1, h2 {
		color: $accent_b;
	}
}

#including_homophones_boxes, #excluding_homophones_boxes {
	width:200px;
	float:left;
	h1 {
		font-size: 1em;
		margin: 0;
		line-height: 3em;
	}
	h2 {
		font-size: 0.9em;
		margin: 0;
		line-height: 1.6em;
	}
}
#word_up {
	display: inline-block;
	width: 90%;
	height: 50px;
	margin: 30px auto;
}