// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.attribute_pair {
	width: 8em;
	float: left;
	margin: 1em;
	font-weight:600;
}
section.attribute_pair label{
	font-weight: 300;
}

section#word_selection {
	float:left;
	width: 400px;
	margin: 50px 25px 0 50px;
	border-right: 3px solid #333;
	padding-right: 25px;

	textarea {
		width:90%;
		height: 50px;
		font-size:1.5em;
	}
	label {
		display:inline;
	}
	fieldset {
		outline: 0;
	}
	ul {
		list-style:none;
	}
}
fieldset#word_properties label {
	display: inline-block;
	margin-right: 75px;
}

section#phibase_multiple_results {
	margin: 50px 0 0 25px;
	position: absolute;
	top: 0;
	left: 500px;
	padding-right: 50px;
}
#including_homophones_boxes {
	h1, h2 {
		color: #39f;
	}
}
#excluding_homophones_boxes {
	h1, h2 {
		color: #c63;
	}
}

#including_homophones_boxes, #excluding_homophones_boxes {
	width:200px;
	float:left;
	h1 {
		font-size: 1em;
		margin: 0;
		line-height: 3em;
	}
	h2 {
		font-size: 0.9em;
		margin: 0;
		line-height: 1.6em;
	}
}
#word_up {
	display: inline-block;
	width: 90%;
	height: 50px;
	margin: 30px auto;
}