	<table class="table">
		<tr>
			<th>orthographic word</th>
			<% Word.attribute_options.each do |attribute| %>
				<% if params[attribute] %><th title="<%=attribute.humanize%>"><%= attribute %></th><% end %>
			<% end %>
		</tr>

		<% @wordarray.split(" ").each do |word|  %>
			<% @word = Word.find(:first, :conditions => [ "lower(orth) = ?", word ]) #case insensitive %> 
				<% if @word %>
				<tr>
					<td><%= @word.orth %></td>
					<% Word.attribute_options.each do |attribute| %>
						<% if params[attribute]  %>
							<td><%= @word.attributes[attribute] %></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</table>